## Data Wrangling

Let's do some data wrangling - one of the most important skills of data analyst

In [1]:
## print first six rows
head(mtcars, 3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [2]:
## review structures of the dataframe
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [3]:
## summarise dataframe
summary(mtcars)

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [4]:
max( mtcars$hp )

[1] 335

In [5]:
## compute basic statistics
print( mean(mtcars$mpg) )
print( median(mtcars$mpg) )
print( sd(mtcars$mpg) )
print( var(mtcars$mpg) )
print( min(mtcars$mpg) )
print( max(mtcars$mpg) )
print( range(mtcars$mpg) )
print( quantile(mtcars$mpg) )

[1] 20.09062
[1] 19.2
[1] 6.026948
[1] 36.3241
[1] 10.4
[1] 33.9
[1] 10.4 33.9
    0%    25%    50%    75%   100%
10.400 15.425 19.200 22.800 33.900

In [6]:
## correlation
print( cor(mtcars$mpg, mtcars$hp) )
print( cor(mtcars$mpg, mtcars$wt) )

## correaltion matrix
#print( cor(mtcars[, 1:5]) )

[1] -0.7761684
[1] -0.8676594

In [7]:
cor(mtcars)

     mpg        cyl        disp       hp         drat        wt
mpg   1.0000000 -0.8521620 -0.8475514 -0.7761684  0.68117191 -0.8676594
cyl  -0.8521620  1.0000000  0.9020329  0.8324475 -0.69993811  0.7824958
disp -0.8475514  0.9020329  1.0000000  0.7909486 -0.71021393  0.8879799
hp   -0.7761684  0.8324475  0.7909486  1.0000000 -0.44875912  0.6587479
drat  0.6811719 -0.6999381 -0.7102139 -0.4487591  1.00000000 -0.7124406
wt   -0.8676594  0.7824958  0.8879799  0.6587479 -0.71244065  1.0000000
qsec  0.4186840 -0.5912421 -0.4336979 -0.7082234  0.09120476 -0.1747159
vs    0.6640389 -0.8108118 -0.7104159 -0.7230967  0.44027846 -0.5549157
am    0.5998324 -0.5226070 -0.5912270 -0.2432043  0.71271113 -0.6924953
gear  0.4802848 -0.4926866 -0.5555692 -0.1257043  0.69961013 -0.5832870
carb -0.5509251  0.5269883  0.3949769  0.7498125 -0.09078980  0.4276059
     qsec        vs         am          gear       carb
mpg   0.41868403  0.6640389  0.59983243  0.4802848 -0.55092507
cyl  -0.59124207 -0.8108118 -0.52260705 -0.4926866  0.52698829
disp -0.43369788 -0.7104159 -0.59122704 -0.5555692  0.39497686
hp   -0.70822339 -0.7230967 -0.24320426 -0.1257043  0.74981247
drat  0.09120476  0.4402785  0.71271113  0.6996101 -0.09078980
wt   -0.17471588 -0.5549157 -0.69249526 -0.5832870  0.42760594
qsec  1.00000000  0.7445354 -0.22986086 -0.2126822 -0.65624923
vs    0.74453544  1.0000000  0.16834512  0.2060233 -0.56960714
am   -0.22986086  0.1683451  1.00000000  0.7940588  0.05753435
gear -0.21268223  0.2060233  0.79405876  1.0000000  0.27407284
carb -0.65624923 -0.5696071  0.05753435  0.2740728  1.00000000

## Subsetting

is how we get information we want from dataframe (or vector, list, matrix)

In [8]:
head(mtcars, 5)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [9]:
mtcars[ 2 , 4 ]

[1] 110

In [10]:
## basic subset
## row 1-3, column 1-5
mtcars[ 1:3 , 1:5 ]

              mpg  cyl disp hp  drat
Mazda RX4     21.0 6   160  110 3.90
Mazda RX4 Wag 21.0 6   160  110 3.90
Datsun 710    22.8 4   108   93 3.85

In [11]:
mtcars[1:10, ] # all columns

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4

In [12]:
mtcars[ 1:5, c(2,3,10) ] # row 1-5, columns 2,3,10

                  cyl disp gear
Mazda RX4         6   160  4
Mazda RX4 Wag     6   160  4
Datsun 710        4   108  4
Hornet 4 Drive    6   258  3
Hornet Sportabout 8   360  3

In [13]:
df2 <- mtcars[ 1:5, - c(1,2,3,4,5, 10) ] # unselect column 1,2,3,4,5,10

In [14]:
df2

                  wt    qsec  vs am carb
Mazda RX4         2.620 16.46 0  1  4
Mazda RX4 Wag     2.875 17.02 0  1  4
Datsun 710        2.320 18.61 1  1  1
Hornet 4 Drive    3.215 19.44 1  0  1
Hornet Sportabout 3.440 17.02 0  0  2

## Introducing dplyr

Main library we use to wrangling dataframe in R is `dplyr`

In [15]:
## install.packages("dplyr")
library(dplyr)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

## Five functions to remember

- `select()`
- `filter()`
- `arrange()`
- `mutate()`
- `summarise()`

In [16]:
## head(mtcars , 3)

mtcars %>% summary()

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

In [17]:
## select column
mtcars %>% 
    select(1:5, 9, "am") %>% 
    head()

                  mpg  cyl disp hp  drat am
Mazda RX4         21.0 6   160  110 3.90 1
Mazda RX4 Wag     21.0 6   160  110 3.90 1
Datsun 710        22.8 4   108   93 3.85 1
Hornet 4 Drive    21.4 6   258  110 3.08 0
Hornet Sportabout 18.7 8   360  175 3.15 0
Valiant           18.1 6   225  105 2.76 0

In [18]:
## filter records
mtcars %>% 
    select(mpg, hp, wt) %>%
    filter( hp %in% 100:250 ) %>%
    arrange( -wt ) %>%
    mutate( group = case_when(hp < 150 ~ 1, 
                              hp >= 150 ~ 2)  )

   mpg  hp  wt    group
1  10.4 215 5.424 2
2  14.7 230 5.345 2
3  10.4 205 5.250 2
4  16.4 180 4.070 2
5  19.2 175 3.845 2
6  13.3 245 3.840 2
7  15.2 180 3.780 2
8  17.3 180 3.730 2
9  14.3 245 3.570 2
10 15.5 150 3.520 2
11 18.1 105 3.460 1
12 18.7 175 3.440 2
13 19.2 123 3.440 1
14 17.8 123 3.440 1
15 15.2 150 3.435 2
16 21.4 110 3.215 1
17 21.0 110 2.875 1
18 21.4 109 2.780 1
19 19.7 175 2.770 2
20 21.0 110 2.620 1
21 30.4 113 1.513 1

In [19]:
## arrange
mtcars %>% 
  filter(hp <= 100) %>%
  arrange(hp)

  mpg  cyl disp  hp drat wt    qsec  vs am gear carb
1 30.4 4    75.7 52 4.93 1.615 18.52 1  1  4    2
2 24.4 4   146.7 62 3.69 3.190 20.00 1  0  4    2
3 33.9 4    71.1 65 4.22 1.835 19.90 1  1  4    1
4 32.4 4    78.7 66 4.08 2.200 19.47 1  1  4    1
5 27.3 4    79.0 66 4.08 1.935 18.90 1  1  4    1
6 26.0 4   120.3 91 4.43 2.140 16.70 0  1  5    2
7 22.8 4   108.0 93 3.85 2.320 18.61 1  1  4    1
8 22.8 4   140.8 95 3.92 3.150 22.90 1  0  4    2
9 21.5 4   120.1 97 3.70 2.465 20.01 1  0  3    1

In [20]:
## mutate = create new column
mtcars %>% 
  select(mpg, hp, wt) %>%
  filter(hp <= 100) %>%
  mutate(double_hp = hp * 2)

  mpg  hp wt    double_hp
1 22.8 93 2.320 186
2 24.4 62 3.190 124
3 22.8 95 3.150 190
4 32.4 66 2.200 132
5 30.4 52 1.615 104
6 33.9 65 1.835 130
7 21.5 97 2.465 194
8 27.3 66 1.935 132
9 26.0 91 2.140 182

In [21]:
## summarise 
mtcars %>%
filter( hp <= 150) %>%
  summarise(mean_hp = mean(hp), 
            sd_hp = sd(hp),
            n = n())

  mean_hp  sd_hp    n
1 99.47368 27.96499 19

## Group By

This is very similar to group by in SQL query

In [22]:
## group by
mtcars %>%
  group_by(am) %>%
  summarise(mean_hp = mean(hp), 
            sd_hp = sd(hp),
            n = n())

  am mean_hp  sd_hp    n
1 0  160.2632 53.90820 19
2 1  126.8462 84.06232 13

In [23]:
## group by more than one columns
result <- mtcars %>%
  group_by(am, cyl) %>%
  summarise(mean_hp = mean(hp),
            sd_hp = sd(hp),
            n = n())

In [24]:
result

  am cyl mean_hp   sd_hp    n
1 0  4    84.66667 19.65536  3
2 0  6   115.25000  9.17878  4
3 0  8   194.16667 33.35984 12
4 1  4    81.87500 22.65542  8
5 1  6   131.66667 37.52777  3
6 1  8   299.50000 50.20458  2

In [25]:
write.csv(result, "result.csv")